/* cyrillic-ext */

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xFIzIFKw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}


/* cyrillic-ext */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}


/* cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

body {
    margin: 0px 0px 0px 0px;
    min-width: 100%;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
}

h1 {
    padding-top: 2rem;
    line-height: 2.5rem;
}

h2,
h3 {
    text-align: center;
}

p {
    margin: 15px;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

td,
th {
    /*border-bottom: 1px solid gray;*/
    border-top: 1px solid gray;
    padding: .25em;
}

tr:first-of-type {
    border-top: 1px solid gray;
}

a {
    color: #4682B4;
}

nav {
    position: fixed;
    top: 0;
    background: #FFFFFF;
    width: 100%;
    margin: 0;
    /*обнуляем отступы*/
    padding: 0;
    /*обнуляем отступы*/
    text-align: center;
    /*border-top: solid 2px white;*/
    display: block;
}

menu {
    margin: 0;
    /*обнуляем отступы*/
    margin-left: calc((100% - 768px)/2);
    padding: 0;
    /*обнуляем отступы*/
    /*float:left; выравниваем список по левому краю*/
    width: 100%;
    /*задаем ширину авто исходя из типа и содержимого списка*/
    list-style: none;
    /*удаляем маркеры списка*/
    font-size: .9rem;
    /*задаем размер шрифта*/
    font-family: 'Roboto', sans-serif;
    /*устанавливаем шрифт*/
}

menu li {
    margin: 0;
    /*обнуляем отступы*/
    padding: 0;
    /*обнуляем отступы*/
    float: left;
    /*выравниваем элементы списка по левому краю*/
    border-bottom: none;
}

menu a {
    display: inline-block;
    /*представляем ссылки меню как блочные элементы*/
    width: 192px;
    /* задаем размер блока*/
    padding: 3px 0;
    height: 100%;
    /*и высоту блока*/
    text-align: center;
    /*надпись по центру*/
    line-height: 2.1rem;
    /*межстрочный интервал*/
    text-decoration: none;
    /*убираем подчеркивание у ссылок*/
    color: #696969;
    /*цвет текста ссылок - белый*/
    font-weight: 600;
}

menu a:hover {
    color: #696969;
    font-weight: 600;
}

menu li a.active {
    position: relative;
    color: #6495ED;
    /*border:0;*/
    font-weight: 600;
    border-bottom: solid 2px #6495ED;
}

#main {
    width: 768px;
    margin-left: calc((100% - 768px) / 2);
}

.red-span {
    color: red;
}

.blue-span
/*Класс для спана со словосочетанием "выделены голубым цветом" */

{
    color: #4169E1;
    font-weight: 500;
}

.green-span {
    color: red;
}

.nowrap-span {
    white-space: nowrap;
}

#pageDate
/******************* Дата обновления страницы ************************/

{
    text-align: right;
    font-size: .8rem;
    background-color: #1E90FF;
    color: white;
    padding-right: .5rem;
}

#cover
/********** Обложка ******************/

{
    display: block;
    float: left;
    margin: 5px 5px 5px 0;
}


/***************************** Таблица с описанием **************************************/

#details {
    float: left;
    margin-left: 10px;
    width: calc(768px - 250px - 20px);
    /* 768 вся ширина - 250 обложка - 10 левая граница */
}

.col25 {
    width: 25%;
}

.col75 {
    width: 75%;
    padding: .2rem 1rem;
}


/*#details td:last-child
	{
			font-size:.8rem;
			font-weight:400;
			background-color:#FFFFFF;
			padding:.5rem
	}
*/

article {
    background-color: #f5f5f5;
    clear: both;
    padding: 5px;
}

a.butt {
    width: 6rem;
    display: inline-block;
    font-size: .8rem;
    color: rgb(255, 255, 255);
    text-shadow: #2e7ebd 0 1px 2px;
    text-decoration: none;
    text-align: center;
    line-height: 1.1;
    /*white-space: pre-line;*/
    padding: .7em;
    border-radius: 6px;
    outline: none;
    background-color: #1E90FF;
    margin-left: .5rem;
}

a.butt:hover {
    background-color: #008000;
    font-weight: bold;
    cursor: pointer;
}

a.butt:active {
    color: rgb(255, 255, 255);
    background-color: #800000;
}

.mainNews
/* Главная новость */

{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    background-color: #FFFFFF;
    padding: 1rem 2rem;
    margin: 5px;
}


/*  Блок для официальных текстов нормативных документов*/

.normativAct {
    font-size: 85%;
    background-color: #FFFFFF;
    padding: 1rem;
}


/* Спан для  выделения слова ИЗВЛЕЧЕНИЕ */

.extract {
    color: red;
    text-align: right;
    margin-right: 2em;
}


/* Строка подзаголовка "Национальный реестр ..."*/

.natReestr {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 90%;
    margin: 0;
    padding: 0;
}


/* Блок подзаголовка "изменения и дополнения" */

.changeadd {
    text-align: left;
    /*font-style: italic;*/
    font-size: 85%;
    margin: 0;
    padding: 0 4rem;
    line-height: 120%;
}

.changeadd p {
    margin: .8rem;
}

.changeadd p:first-child {
    font-weight: bold;
    text-indent: -2rem;
}


/*Для законов подзаголовок "Принят Палатой..., Одобрен Советом..."*/

.prinodobren {
    text-align: left;
    font-style: italic;
}

.official {
    background-color: #f5f5f5;
    padding: 0 0 15px 0;
    margin: 15px auto;
}

footer {
    text-align: justify;
    position: relative;
    bottom: 0;
    font-size: .75rem;
    line-height: 1.5rem;
    background-color: white;
    padding: 0 10px;
    margin: auto;
}

footer a {
    text-decoration: none;
}

footer p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

footer p:after {
    content: ". "
}

footer p:last-child {
    float: right;
}

footer p:last-child:after {
    white-space: pre;
    content: " "
}

@media (max-width: 769px) {
    body {
        font-size: 16px;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    h1 {
        font-size: 1.5em;
        line-height: 1em;
        margin: 1em;
        padding: 0;
    }
    h1 span {
        font-size: 80%;
    }
    p {
        margin: 0;
        padding: 1rem 0;
    }
    table {
        border-spacing: 0;
        text-indent: 0;
    }
    nav {
        display: none;
    }
    #go_home {
        margin: 0;
        text-align: left;
        padding-left: 2rem;
        border-radius: 0;
        display: block;
        width: 100%;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    #main {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
    #remark {
        margin-left: 10px;
    }
    #pageDate {
        text-align: left;
        font-size: .8rem;
        padding: 0 .5rem;
        /*width: calc(100% -1rem - 10px);*/
        width: 100%;
    }
    #cover {
        display: block;
        margin: 5px auto;
        float: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    #details {
        float: none;
        width: 100%;
        margin: 0;
    }
    .col75,
    .col25 {
        display: block;
        width: calc(100% - 1rem);
        border: none;
    }
    .col75 {
        width: calc(100% - 2.5rem);
    }
    #details td:nth-child(2n+1) {
        background-color: #f5f5f5;
        font-weight: 800;
        padding-left: .5rem;
    }
    #details td:nth-child(2n) {
        padding-left: 1.5rem;
    }
    article {
        background-color: #f5f5f5;
        width: calc(100% - 2rem);
        padding: 1rem;
    }
    .mainNews {
        padding: 1rem 1rem;
        width: calc(100% - 2rem - 10px);
    }
    .official {
        background-color: white;
    }
    .official td {
        display: block;
        width: 100%;
    }
    footer {
        text-align: left;
        width: calc(100% - 20px - 5px);
        font-size: 1rem;
        position: relative;
        background-color: #696969;
        color: white;
        line-height: 1.5rem;
        padding: 0 10px;
    }
    footer p {
        display: block;
    }
    footer p:after {
        content: ""
    }
    footer p:last-child {
        text-align: right;
        font-size: 80%;
    }
    footer p:last-child::after {
        white-space: pre;
        content: " "
    }
}